@import url(https://fonts.googleapis.com/css?family=Lato);
@import 'helpers/variables';
@import 'components/header';
@import 'components/main';
@import 'components/supporting';
@import 'components/footer';
@import 'components/tool_item';
@import 'pages/index';
@import 'pages/contact';


body {
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    color: $primary-text-color;
}

a {
    color: $default-a-text-color;
    &:hover {
        color: $default-a-text-color;
        text-decoration: none;}
}

.container {
    margin: 0px auto;
    width: 1140;
}



