@import url(https://fonts.googleapis.com/css?family=Lato);
@import 'helpers/theme/light/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';
@import 'components/header';
@import 'components/main';
@import 'components/supporting';
@import 'components/footer';
@import 'components/tool_item';
@import 'pages/index';
@import 'pages/contact';
@import 'components/editor_input';
@import 'components/editor_output';
@import 'components/tool_section';
@import 'components/amazon_banner';

@import 'helpers/mixins';


body {
    font-family: $primary-font , serif;
    font-size: $medium-font-size;
    font-weight: 100;
    color: $primary-text-color;
}

a {
    color: $default-a-text-color;
    &:hover {
        color: $default-a-text-color;
        text-decoration: none;}
}

.container {
    margin: 0px auto;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.text-center {
    text-align: center;
}




