.header {
    background-color: $primary-bkg;
    h2 {
        padding: 0;
        margin: 0;
        line-height: 50px;
        color: $important-text-color;
        font-size: $big-font-size;
        display: inline-block;
        //@include trapezoid($fancy-color-1, $fancy-color-2, 3deg)
    }
    a {
        text-decoration: none;
    }
   ul {
        margin-top: 0px;
        padding: 0 0 0 45px;
        list-style: none;
        display: inline-block;
        &>li {
              display: inline-block;
              margin: 0 10px 0 0;
              &:last-child{
                margin-right: 0px;
              }
              &:hover{
                    border-bottom: 1px solid $underline-color;
                }
              &>a {
                    color: $primary-text-color;
                    font-size: $small-font-size;
                    padding-bottom: 0px;
                    font-weight: 100;
                    &:hover {
                        background-color: transparent;
                        font-weight: 700;
                    }
                }
             
            }
    }


} 
