.main {
  /*  height: 650px;*/
    background-color: $secondary-bkg;
    padding: 50px 0;
    .row {
        margin-left: 0px;}

    h1 {
        font-size: $large-font-size;
        font-weight: 700;
        color: $important-text-color;}

    p {
        font-size: $small-font-size; }

}        