.tool-section{
	background-color: $secondary-bkg;
	padding: 20px 0;
	.row {
		margin-left: 0px;}

	.tool-editor-title{
		text-align: center;
		h3, h4{
			margin: 0;
			padding: 0;
		}
	}
	.editors-container {
		margin-top: 10px;
	}	
	.alert{
		background-color: $primary-bkg;
    	color: rgba(0,255,119,1);
		margin: 10px 0;
		font-family: monospace;
		border-color: #1D1D1D;;
		box-shadow: inset 0px 0px 1px 10px #000;
    	border-radius: 6px;
		border-width: 10px;
		
		.blink_cursor{
			animation: blinker 1s linear infinite;
		}
		.actions-bar{
		margin-top: 15px;
		width: 100%;
		button {
			margin-right: 10px;
			background-color: $important-button-bkg;
			&:hover{
				border-color: $important-button-bkg;
			}
			 
		}
		.btn-last{
				margin-right: 0px;	
		}
	}
	
	}

	
}