.tool-section{
	background-color: $secondary-bkg;
	padding: 20px 0;
	.row {
		margin-left: 0px;}

	.tool-editor-title{
		text-align: center;
		h3, h4{
			margin: 0;
			padding: 0;
		}
	}
	.editors-container {
		margin-top: 0px;
	}	
	.alert{
		background-color: $primary-bkg;
    	color: rgba(0,255,119,1);
		margin: 20px 0 0 0;
		font-family: monospace;
		border-color: #1D1D1D;;
		box-shadow: inset 0px 0px 1px 10px #000;
    	border-radius: 0px;
		border-width: 10px;
		
		.blink_cursor{
			animation: blinker 1s linear infinite;
		}
		.actions-bar{
		margin-top: 30px;
		width: 100%;
		font-family: $primary-font;
		font-weight: 100;
		button {
			margin-right: 10px;
			background-color: $important-button-bkg;
			border-color: $important-button-bkg;
			border-radius: 0;
			&:hover{
				font-weight: 700;}
			 
			}
		
		}
		.stats {
			font-size: 14px;
			font-family: $primary-font;
			font-weight: 100;
			color:  $default-a-text-color;
		}
		.controls{
			margin-top: -10px;
			.btn-icon{
				width: 24px;
				height: 24px;
				float: right;
				cursor: pointer;
				margin-right: 5px;
			}
		}
	
	}

	#tool-settings{
			font-family: $primary-font;
			.modal-content{
				width: 90%;
				margin: 0 auto;
				background-color: $secondary-bkg;
			}
			#settings-editor{
				height: 500px;
				width: 50%;
				float: right;
			}
			.settings-instructions{
				height: 500px;
				width: 50%;
				float: right;
				color: $primary-text-color;
				pre{
					background-color: $ace-twilight;
					color: $primary-text-color;
					height: 100%;
					.inst-property{
						color: #eeddcc;
					}
					.inst-value{
						color: #bbf;
					}

					.inst-comment{
						color: #8a8;
					}
					border: 0;
					
					
				}
			}
			.modal-title{
				color: $primary-text-color;
			}
			.modal-footer{
				clear: both;
				button {
					background-color: $important-button-bkg;
					border-color: $important-button-bkg;
					border-radius: 0;
					color: $important-text-color;
					&:hover{
						font-weight: 700;}
			 		}	
			}
			
		}
		
}