.main {
   .tool-items {
        margin-top: 50px;
        a {
            color: $primary-text-color;
            text-decoration: none;
            &:hover{
                color: $primary-text-color;
                color: $important-text-color;}
          }
     }   
}








