doctype html
html
	head
		title Online HTML Editor | Minify HTML | Validate HTML
		meta(name="description" content="Online tools to minify, validate HTML")
		include ../includes/components/head.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-json.js" type="text/javascript" charset="utf-8")
		script(src="js/lib/jquery.splitter.js" type="text/javascript" charset="utf-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js")
		script(src="js/lib/htmlminifier.min.js" type="text/javascript" charset="utf-8")
		link(href="css/jquery.splitter.min.css" rel="stylesheet")
	body
		include ../includes/components/header.pug
		.tool-section
			.container
				<!-- Start header section here-->
				<!--include ../includes/components/amazon_banner3.pug-->
				<!-- End header section here-->
						.row
							.col-md-12.tool-section-title
								h1 Online HTML Editor
								h3 html viewer | html validator | html minifier
						.row.alert.alert-info
							.col-md-6
								span HTML$&nbsp;
								span#err-message Enter html into the left pane.
								span.blink_cursor _
								.btn-group.actions-bar
									include ../includes/components/load_file.pug
									button#btn-minify.btn.btn-primary(type="button") Minify
									button#btn-save.btn.btn-primary(type="button") Save
									button#btn-copy.btn.btn-primary(type="button") Copy
									button#btn-clear.btn.btn-primary(type="button") Clear
							.col-md-4.stats
								div 
									span Source Length: 
									span#source-length N/A
								div
									span Output Length: 
									span#output-length  N/A
								div
									span Efficiency: 
									span#efficiency N/A
							.col-md-2.controls
								img#btn-settings.btn-icon(src="img/settings-100.png")
								a(href="https://www.npmjs.com/package/html-minifier" target="_blank")
									img#btn-help.btn-icon(src="img/help-100.png")
								include ../includes/components/modal_settings.pug
						.row
							.col-md-12
								include ../includes/components/editors.pug
		include ../includes/components/supporting.pug
		include ../includes/components/footer.pug
		script(src="js/html/main.min.js" type="text/javascript" charset="utf-8")
		