<!DOCTYPE html>
<html>
include ../includes/components/head.pug

<body>
	<!-- Start header section here-->
include ../includes/components/header.pug
	<!-- End header section here-->

	<!-- Start main section here-->
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Web Developer Tools</h1>
					<p>I wanted to make web developers' lives easier, so I created a collection of the useful developer tools all in one place. All free. If you like it buy me a beer.</p>
					<button class="btn btn-md">Buy a Beer</button>
				</div>
				</div>
				<div class="row tool-items">
					<div class="col-md-12">
						<a href="pages/json.html"><div class="tool-item-box">
							<img class="tool-item-icon" src="img/code-icon.png"/>
							<h3 class="tool-item-title">JSON</h3>
							<p class="tool-item-desc">Beautify, Minify, Validate, Convert</p>
						</div></a>

						<a href="pages/css.html"><div class="tool-item-box">
							<img class="tool-item-icon" src="img/code-icon.png"/>
							<h3 class="tool-item-title">CSS</h3>
							<p class="tool-item-desc">Beautify, Minify, Validate</p>
						</div></a>
						
						<a href="pages/js.html"><div class="tool-item-box">
							<img class="tool-item-icon" src="img/code-icon.png"/>
							<h3 class="tool-item-title">JS</h3>
							<p class="tool-item-desc">Minify, Uglify, Lint</p>
						</div></a>
						
						<a href="pages/html.html"><div class="tool-item-box">
							<img class="tool-item-icon" src="img/code-icon.png"/>
							<h3 class="tool-item-title">HTML</h3>
							<p class="tool-item-desc">Validate, Minify, Beautify</p>
						</div></a>
						

					</div>	
				</div>		
		</div>	
	</div>	
	<!-- End main section here-->

<!-- Start supporting section here-->
include ../includes/components/supporting.pug
<!-- End supporting section here-->

<!-- Start footer section here-->
include ../includes/components/footer.pug
<!-- End footer section here-->


</body>

</html>