<!DOCTYPE html>
<html>
<head>
	<title>Online Web Development Editors | Validate JSON CSS HTML JS| JavaScript Minify Uglify Online | JSON Viewer| </title>
	<meta name="description" content="Free online tools for web developers.">
	include ../includes/components/head.pug
</head>
<body>
	<!-- Start header section here-->
include ../includes/components/header.pug
	<!-- End header section here-->


	<!-- Start main section here-->
	<div class="main">
		<div class="container">
			<!-- Start header section here-->
			<!--include ../includes/components/amazon_banner1.pug-->
			<!-- End header section here-->
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>Online Code Editor</h1>
					<p>Free HTML editor, CSS formatter, JSON viewer and JavaScript editor allow you to edit, validate, format code online!</p>
				</div>
				</div>
				<div class="row tool-items">
					<div class="col-md-12">
						<a href="json.html"><div class="tool-item-box">
							<header>
								<img class="tool-item-icon" src="img/code-icon.png"/>
								<h3 class="tool-item-title">JSON</h3>
							</header>
							<p class="tool-item-desc">Beautify, Minify, Convert to YAML, Validate</p>
						</div></a>

						<a href="css.html"><div class="tool-item-box">
							<header>
								<img class="tool-item-icon" src="img/code-icon.png"/>
								<h3 class="tool-item-title">CSS</h3>
							</header>	
							<p class="tool-item-desc">Beautify, Minify, Validate</p>
						</div></a>
						
						<a href="js.html"><div class="tool-item-box">
							<header>
								<img class="tool-item-icon" src="img/code-icon.png"/>
								<h3 class="tool-item-title">JS</h3>
							</header>
							<p class="tool-item-desc">Minify, Uglify</p>
						</div></a>
						
						<a href="html.html"><div class="tool-item-box">
							<header>
								<img class="tool-item-icon" src="img/code-icon.png"/>
								<h3 class="tool-item-title">HTML</h3>
							</header>	
							<p class="tool-item-desc">Validate, Minify</p>
						</div></a>
						

					</div>	
				</div>		
		</div>	
	</div>	
	<!-- End main section here-->

<!-- Start supporting section here-->
include ../includes/components/supporting.pug
<!-- End supporting section here-->

<!-- Start footer section here-->
include ../includes/components/footer.pug
<!-- End footer section here-->


</body>

</html>