doctype html
html
	head
		title Online JSON Editor | json viewer | json formatter | json validator | json parser | Minify JSON | Convert JSON to YAML
		meta(name="description" content="Welcome to the online JSON Editor, JSON Viewer, JSON Formatter, JSON Beautifier, JSON Validator, JSON Parser, JSON Minifier at devtoolmania.com")
		include ../includes/components/head.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-json.js" type="text/javascript" charset="utf-8")
		script(src="js/lib/jquery.splitter.js" type="text/javascript" charset="utf-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js")
		script(src="js/lib/yaml.min.js" type="text/javascript" charset="utf-8")
		link(href="css/jquery.splitter.min.css" rel="stylesheet")
	body
		include ../includes/components/header.pug
		.tool-section
			.container
				<!-- Start header section here-->
				<!--include ../includes/components/amazon_banner5.pug-->
				<!-- End header section here-->
				.row
					.col-md-12.tool-section-title
						h1 Online JSON Editor
						h3 json viewer | json formatter | json validator | json parser
				.row.alert.alert-info
							.col-md-8
								span JSON$&nbsp;
								span#err-message Enter json into the left pane.
								span.blink_cursor _
								.btn-group.actions-bar
									include ../includes/components/load_file.pug
									button#btn-beautify.btn.btn-primary(type="button") Beautify
									button#btn-minify.btn.btn-primary(type="button") Minify
									button#btn-yaml.btn.btn-primary(type="button") to YAML
									button#btn-save.btn.btn-primary(type="button") Save
									button#btn-copy.btn.btn-primary(type="button") Copy
									button#btn-clear.btn.btn-primary(type="button") Clear
							.col-md-4.stats
								div 
									span Source Length: 
									span#source-length N/A
								div
									span Output Length: 
									span#output-length  N/A
								div
									span Efficiency: 
									span#efficiency N/A
				.row
					.col-md-12
						include ../includes/components/editors.pug
		include ../includes/components/supporting.pug
		include ../includes/components/footer.pug
		script(src="js/json/main.min.js" type="text/javascript" charset="utf-8")
		
		