
//background colors
$primary-bkg: #000000;
$secondary-bkg: #44475a;
$third-bkg: #282a36;
$important-button-bkg: #d64f2d;

//text colors
$primary-text-color: #f8f8f2;
$default-a-text-color: #ccc;
$important-text-color: #ffffff;
$attention-text-color: red;

//border colors
$underline-color: #1A77FF;

//fonts size
$tiny-font-size: 12px;
$small-font-size: 14px;
$medium-font-size: 16px;
$big-font-size: 24px;
$super-big-font-size: 32px;
$large-font-size: 53px;
