
//background colors
$primary-bkg: #000000;
$secondary-bkg: #44475a;
$third-bkg: #282a36;
$important-button-bkg: #d64f2d;
$ace-twilight: #141414;
   
//text colors
$primary-text-color: #f8f8f2;
$default-a-text-color: #ccc;
$important-text-color: #ffffff;
$attention-text-color: red;

$fancy-color-1: #ff9d2f;
$fancy-color-2:  #ff6126;

//border colors
$underline-color: #1A77FF;

//fonts size
$tiny-font-size: 12px;
$small-font-size: 14px;
$medium-font-size: 16px;
$big-font-size: 24px;
$super-big-font-size: 32px;
$large-font-size: 36px;

//font family
$primary-font: Lato; 
