
//background colors
$primary-bkg: #000000;
$secondary-bkg: #44475a;
$third-bkg: #282a36;
$important-button-bkg: #d64f2d;

//text colors
$primary-text-color: #f8f8f2;
$default-a-text-color: #ccc;
$important-text-color: #ffffff;
$attention-text-color: red;

//border colors
$underline-color: #1A77FF;
