//- includes/foot.pug
<div class="footer">
		<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p>DevToolMania ©2017, All Rights Reserved. Proudly NOT powered by WordPress.</p>
			</div>
				<div class="pull-right">
				<a href="https://icons8.com">Icon pack by Icons8</a>
			</div>	
		</div>	 
		</div>	
</div>	
