<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="index.html"><h2>DevToolMania</h2></a>
			</div>	

			<div class="pull-right">
				<ul>
					<li><a href="index.html">Home</a></li>	
					<li><a href="contact.html">Contact</a></li>	
				</ul>
			</div>	
		</div>	
	</div>	
</div>	
