<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="index.html"><h2>DevToolMania</h2></a>
				<ul>
					<li><a href="json.html">JSON</a></li>	
					<li><a href="css.html">CSS</a></li>	
					<li><a href="js.html">JS</a></li>	
					<li><a href="html.html">HTML</a></li>	
					
				</ul>

				<ul class="pull-right nav-links-right">
					<li><a href="index.html">Home</a></li>	
					<li><a href="contact.html">Contact</a></li>	
				</ul>
			
			</div>
		</div>
	</div>	
</div>	
