.supporting
	.container
		h4 List of resources used for developing this site:
		.row
			.col-md-12.support-item
				ul
					li
						a(href="https://ace.c9.io/#nav=about" target="_blank") Ace code editor:&nbsp;
						span Ace is an embeddable code editor.
					li
						a(href="https://github.com/mishoo/UglifyJS2") UglifyJS:&nbsp;
						span UglifyJS is a JavaScript compressor/minifier.
					li
						a(href="https://www.npmjs.com/package/html-minifier") HTML minifier:&nbsp;
						span Highly configurable, well-tested, JavaScript-based HTML minifier.
					li
						a(href="https://www.npmjs.com/package/json2yaml") json2yaml:&nbsp;
						span A commandline utility to convert JSON to YAML / YML
					li
						a(href="https://github.com/jakubpawlowicz/clean-css") clean-css:&nbsp;
						span Fast and efficient CSS optimizer for node.js and the Web
					li
						a(href="https://aws.amazon.com/javascript/") AWS SDK:&nbsp;
						span AWS SDK for JavaScript in the browser and Node.js
					li
						a(href="http://jquery.com/") JQuery:&nbsp;
						span jQuery is a fast, small, and feature-rich JavaScript library.
					li
						a(href="https://pugjs.org/api/getting-started.html") pug:&nbsp;
						span Pug – robust, elegant, feature rich template engine.
					li
						a(href="https://www.npmjs.com/package/gulp-sass") gulp-sass:&nbsp;
						span A scripting language that extends CSS by allowing developers to write code in one language and then compile it into CSS.
					li
						a(href="https://github.com/jcubic/jquery.splitter") Jquery splitter:&nbsp;
						span jQuery Splitter is plugin that splits your content with a movable splitter.











