<div class="supporting">
		<div class="container">
		<h2>Learn Web Development</h2>
		<div class="row">
			<div class="col-md-4 support-item">
					<ul>
						<li><a href="https://www.amazon.com/gp/product/1617292850/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1617292850&amp;linkId=c55ddb0d339397dad6cca2b70a055ce8" target="_blank">Secrets of the JavaScript Ninja</a></li>
						<li><a href="https://www.amazon.com/gp/product/1593277571/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&apm;linkCode=as2&amp;creativeASIN=1593277571&amp;linkId=b68c158b9990266ab81a3ce433c17c23" target="_blank">Understanding ECMAScript 6</a></li>
						<li><a href="https://www.amazon.com/gp/product/1118531647/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1118531647&amp;linkId=9e9ab2962d4aa255bfe41ed2e900b52a" target="_blank">JavaScript and JQuery</a></li>
						<li><a href="https://www.amazon.com/gp/product/1617293121/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1617293121&amp;linkId=4514c57eee03855308f37599c199769d" target="_blank">Angular 2 Development with TypeScript</a></li>
						<li><a href="https://www.amazon.com/gp/product/1118008189/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1118008189&amp;linkId=0171e57b2b5f91936adc4e752b06d82c" target="_blank">HTML and CSS: Design and Build Websites</a></li>
						
					</ul>
			</div>	


			<div class="col-md-4 support-item">
					<ul>
						<li><a href="https://www.amazon.com/gp/product/1118907442/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1118907442&amp;linkId=8b35d6bedefd538b3a27cbe27d093363" target="_blank">Web Design with HTML, CSS, JavaScript</a></li>
						<li><a href="https://www.amazon.com/gp/product/0321965515/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=0321965515&amp;linkId=504eff72f5888916a520534c4c35c8c3" target="_blank">Don't Make Me Think, UX</a></li>
						<li><a href="https://www.amazon.com/gp/product/B01MUGZ3OF/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=B01MUGZ3OF&amp;linkId=88973de6d5e1c40bc63486058536e256" target="_blank">The Complete Redux Book</a></li>
						<li><a href="https://www.amazon.com/gp/product/1617292885/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1617292885&amp;linkId=b1fe6327f4a780ac991e991bf34ac57d" target="_blank">Amazon Web Services in Action</a></li>
						<li><a href="https://www.amazon.com/gp/product/1591847788/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1591847788&amp;linkId=ad64b5d1ed57d6ac6fec3e95ff2e7b8c" target="_blank">Hooked: How to Build Habit-Forming Products</a></li>
						
					</ul>
			</div>	
		</div>
		</div>	
</div>	
