<div class="supporting">
		<div class="container">
		<h2>Learn Web Development</h2>
		<div class="row">
			<div class="col-md-3">
				<div class="support-item">
					<h3>JavaScript</h3>
					<ul>
						<li><a href="https://www.amazon.com/gp/product/1617292850/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1617292850&amp;linkId=c55ddb0d339397dad6cca2b70a055ce8" target="_blank">Secrets of the JavaScript Ninja</a></li>
						<li><a href="https://www.amazon.com/gp/product/1593277571/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&apm;linkCode=as2&amp;creativeASIN=1593277571&amp;linkId=b68c158b9990266ab81a3ce433c17c23" target="_blank">Understanding ECMAScript 6</a></li>
						<li><a href="https://www.amazon.com/gp/product/1118531647/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1118531647&amp;linkId=9e9ab2962d4aa255bfe41ed2e900b52a" target="_blank">JavaScript and JQuery</a></li>
						<li><a href="#" target="_blank">Book 4</a></li>
						<li><a href="#" target="_blank">Book 5</a></li>
						
					</ul>
				</div>	
			</div>	

			<div class="col-md-3">
				<div class="support-item">
					<h3>Courses</h3>
					<ul>
						<li><a href="#" target="_blank">Course 1</a></li>
						<li><a href="#" target="_blank">Course 2</a></li>
						<li><a href="#" target="_blank">Course 3</a></li>
						<li><a href="#" target="_blank">Course 4</a></li>
						<li><a href="#" target="_blank">Course 5</a></li>
					</ul>
				</div>	
			</div>

			<div class="col-md-3">
				<div class="support-item">
					<h3>Frameworks</h3>
					<ul>
						<li><a href="#" target="_blank">Angular 2</a></li>
						<li><a href="#" target="_blank">React JS</a></li>
						<li><a href="#" target="_blank">Redux</a></li>
						<li><a href="#" target="_blank">Bootstrap</a></li>
						<li><a href="#" target="_blank">RX JS</a></li>
						
					</ul>
				</div>	
			</div>

			<div class="col-md-3">
				<div class="support-item">
					<h3>Web Design</h3>
					<ul>
						<li><a href="https://www.amazon.com/gp/product/1118907442/ref=as_li_tl?ie=UTF8&amp;tag=devtoolmania-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1118907442&amp;linkId=8b35d6bedefd538b3a27cbe27d093363" target="_blank">Web Design with HTML, CSS, JavaScript</a></li>
						<li><a href="#" target="_blank">Book 2</a></li>
						<li><a href="#" target="_blank">Book 3</a></li>
						<li><a href="#" target="_blank">Book 4</a></li>
						<li><a href="#" target="_blank">Book 5</a></li>
						
					</ul>
				</div>	
			</div>	
		</div>
		</div>	
</div>	
